{% extends 'base.html' %}

{% block contenido %}
    <h1>Listado de Servicios FBV</h1>
    {% comment %} <a href="{% url 'alumnos_new' %}"><button type="button" class="btn btn-primary">Nuevo</button></a> {% endcomment %}
    <br>
    <hr>
    <ul>
    {% for svr in s %}
        <li>
            {{ svr.nro_telefono }} => {{ svr.nombre }}

            <a href="{% url 'servicios_moviles_list' id=svr.pk %}"><button type="button" class="btn btn-outline-primary btn-sm"">Moviles</button></a>
            <a href="{% url 'servicios_editar' pk=svr.pk %}"><button type="button" class="btn btn-outline-success btn-sm"">editar</button></a>
            <a href="{% url 'servicios_borrar' pk=svr.pk %}"><button type="button" class="btn btn-outline-danger btn-sm">borrar</button></a> 
        </li>
    {% endfor %}
    </ul>
{% endblock %}

